
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/css/bootstrap.min.css" integrity="2hfp1SzUoho7/TsGGGDaFdsuuDL0LX2hnUp6VkX3CUQ2K4K+xjboZdsXyp4oUHZj" crossorigin="anonymous">
    <style>
    #shot {
          background: #60CCF0; /* For browsers that do not support gradients */
          background: -webkit-linear-gradient(#eceeef, #60CCF0); /* For Safari 5.1 to 6.0 */
          background: -o-linear-gradient(#eceeef, #60CCF0); /* For Opera 11.1 to 12.0 */
          background: -moz-linear-gradient(#eceeef, #60CCF0); /* For Firefox 3.6 to 15 */
          background: linear-gradient(#eceeef, #60CCF0); /* Standard syntax */
          color: #086A87;
      }
    </style>
  </head>
  <body>
    <div class="container">
        <div class="jumbotron" style="margin-top:10px;">
            <h2 class="display-4"><span style="font-weight: 800;">404</span> / Page Not Found</h2>
            <br/>
            <blockquote class="blockquote">
                <p>Requested page is not found: <strong>{{ route }}</strong></p> 

                {% if routes %}
                <div class="alert alert-success">List of available routes:
                    <ul>
                        {% for r in routes %}
                        <li><a href="{{ r }}">{{ r|safe }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </blockquote>
            
            <hr/>
            <div class="row">
              <div class="col-sm-8">
                {% if routes %}<p style="font-size: small;">You see this because <kbd>debug</kbd> is enabled:<br/><pre><code>application.settings['DEBUG'] = True</code></pre></p>{% endif %}
                </div>
              <div class="col-sm-4 ">
                <div class="pull-xs-right" style="display:inline; vertical-align:middle;"><span id="shot">[_]</span> shot</div>
              </div>
            </div>
        </div>
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
  </body>
</html>
